.wrapper {
    // position: relative;
    // top: 5em;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;

    .firstContainer {
        width: 50%;

    }

    .secondContainer {
        width: 50%;
        background-color: honeydew;
    }
}