* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.app {
    background-color: #CC5D3F;
    width: 100%;
    min-height: 100vh;
}

/* .app-header {
    width: 100%;
} */