* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.app {
    background-color: #FFFFFF;
    width: 100%;
    min-height: 100vh;
}

/* #E3B6B5 */