.wrapper {
  width: 100%;
  padding: 10px 20px;

  .firstDiv {
    width: 100%;
  }

  .testDiv {
    width: 100%;
    background-color: snow;
    // border-top: 1px dotted black;
    // border-bottom: 1px dotted black;
    // box-shadow: 0 8px 6px -6px silver;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;

    svg {
      transition: ease-in-out 0.3s;

      &:hover {
        transform: scale(1.5);
      }
    }

    img {
      display: none;
      width: 50px;
      position: absolute;
    }

    h3 {
      z-index: 5;
      font-size: 1.8em;
      position: absolute;
    }

    div {
      margin: 10px auto;
      width: 200px;
    }
  }

  .transition {
    transition: transform 2s ease, opacity .5s ease-out;
  }

  .carousel {
    img {
      width: 100%;
      height: 90vh;
      display: block;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}
