.wrapper {
    width: 100%;
    height: 100vh;
    float: left;
    // position: absolute;
    

    .firstDiv {
        width: 100%;
        position: relative;
    }

    .carousel {
        img {
            width: 100%;
            height: 100vh;
            display: block;
            object-fit: cover;
        }
    }

    .secondDiv {
        width: 400px;        
        position: absolute;
        top: 30%;
        right: 0;
        font-size: 2em;


        h1 {
            color: #B79B24;
            // font-size: 2.3em;
        }

        p {
            color: black;
            font-size: 0.8em;
        }

        .button {
           color: black;
        }
    }
}
