.wrapper {
    width: 100%;
    height: 100vh;
    // display: flex;
    flex-wrap: wrap;
    // position: absolute;
    

    .firstDiv {
        width: 100%;
        position: absolute;
    }

    .carousel {
        img {
            width: 100%;
            height: 100vh;
            display: block;
            object-fit: cover;
        }
    }

    .secondDiv {
        width: 300px;        
        position: relative;
        top: 50%;


        h1 {
            color: chartreuse;
        }

        p {
            color: cornsilk;
        }

        .button {
           color: black;
        }
    }
}
